WS-TP1/src-ex2/WEB-INF/classes/MonSOAPService_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://ex2/" xmlns:tns="http://ex2/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="bonjour" type="tns:bonjour"/>

  <xs:element name="bonjourResponse" type="tns:bonjourResponse"/>

  <xs:complexType name="bonjour">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="bonjourResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

